.Navbar{
    display: flex;
    justify-content: center;
    gap: 20rem;
    height: 3rem;
    align-items: center;
    background-color: #d7ebce;
    /* box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%); */
    box-shadow: 0 25.6px 57.6px 0 rgb(0 0 0 / 22%), 0 4.8px 14.4px 0 rgb(0 0 0 / 18%);
}

.Navbar > a{
    text-decoration: none;
    font-size: larger;
    color: rgb(255, 166, 0);
    font-weight: bolder;
    font-family: sans-serif;
}