.buttons{
    display: flex;
    background-color: #cfcfcf;
    height: 30rem;
    align-items: center;
    justify-content: center;
}

.root{
    background-color: #ffefea;
    height: 100%;
}
.root >table{
    display: flex;
    flex-direction: column;
    align-items: center;
}